{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@aneuryhp</title>
  <link rel="stylesheet" href="{% static '../static/css_file/header.css' %}"> <!-- Enlace a tu archivo CSS personalizado -->
  <link rel="stylesheet" href="{% static '../static/css_file/inicio.css' %}"> <!-- Enlace para inicio -->
  <link rel="stylesheet" href="{% static '../static/css_file/sobre-mi.css' %}"> <!-- Enlace para targeta sobre mi -->
  <link rel="stylesheet" href="{% static '../static/css_file/proyectos.css' %}"> <!-- Enlace para targeta proyectos -->
</head>
<body>
  <header>
    <nav>
      <div class="banner_con cj-logo">
        <img src="{% static '../media/logo_portafolio.png' %}" alt="" class="logotipo">
      </div>
      <div class="banner_con cj-btn-menu">
        <input type="checkbox" id="toggle" style="display: none;">
        <label for="toggle" class="btn-menu-ref" onclick="ocultar();"><img src="{% static '../media/menu.png' %}" alt="" class="img-btn-munu"></label>
      </div>
      <div class="banner_con cj-menu" id="main">
        <ul>
          <li><a href="#inicio" onclick="ocultar();">Start</a></li>
          <li><a href="#sobre-mi" onclick="ocultar();">About</a></li>
          <li><a href="#proyectos" onclick="ocultar();">Proyects</a></li>
          <li><a href="#contacto" onclick="ocultar();">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>  

  <main>
    <section id="inicio" class="content-inicio">
      <!-- Contenido de la sección de inicio -->
      <div class="sub-content-inicio">
        <div class="content-text-title">
          <div class="cont-title">
            <h1>Hello.</h1>
          </div>
          <div class="cont-sub-title">
            <p class="sub-title">
              Step into my captivating online portfolio and explore 
              my professional expertise as a programmer specializing 
              in Python, Django, and front-end development. Welcome 
              to a showcase of my skills and accomplishments.
            </p>
          </div>
          <div class="content-saberMas">
            <a href="#proyectos" class="saberMas">Explore my work</a>
          </div>
        </div>
        <!-- Imagen de inicio -->
        <div class="content-img">
          <div class="cuadro-uno">
            <video autoplay loop muted>
              <source src="{% static '../media/clic-presentation.mp4' %}" type="video/mp4">
            </video>
            <div class="cuadro-dos">
              <img src="{% static '../media/logo_portafolio.png' %}" alt="" class="image-profile">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="sobre-mi" class="sobre-mi">
      <!-- Contenido de la sección "Sobre Mí" -->
      <div class="container-sobre-mi">
        <div class="content-title-targe">
          <h2>About</h2>
        </div>
        <div class="sobre-mi-contenido">
          <div class="content-img-user">
            <img src="{% static '../media/logo_portafolio.png' %}" alt="Mi fotografía" class="img-user">
          </div>
          <div class="data-user">
            <div class="title-id"><p>IDENTIFICATION</p></div>
            <div class="data-tex-user"><p><span>Name: </span>Aneury Hernandez Peguero</p></div>
            <div class="data-tex-user"><p><span>Nationality: </span>Dominican</p></div>
            <div class="data-tex-user"><p><span>Opcupation: </span>Web developer</p></div>
            <div class="abilid-user">
              <div class="conten-skills">
                <p class="title-abilid">Skills</p>
              </div>
              <div class="btn-kills">
                <p>Python  Django</p>
                <p>Front-end</p>
              </div>
              <div class="icon-program">
                  <div class="python pgr"><img src="{% static '../media/python-removebg-preview.png' %}" alt="" class="imagen-icon"></div>
                  <div class="django pgr"><img src="{% static '../media/django-removebg-preview.png' %}" alt="" class="imagen-icon"></div>
                  <div class="html pgr"><img src="{% static '../media/html5.png' %}" alt="" class="imagen-icon"></div>
                  <div class="css pgr"><img src="{% static '../media/css-3.png' %}" alt="" class="imagen-icon"></div>
                  <div class="javascript-img pgr"><img src="{% static '../media/secuencia-de-comandos-de-java.png' %}" alt="" class="imagen-icon"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="proyectos" class="proyectos">
      <!-- Contenido de la sección de proyectos -->
      <div class="content-galery">
        <div class="title-galery">
          <h2>Projects</h2>
        </div>
        <div class="sub-content-galery">

          <div class="content-proyect">
            <div class="content-img">
              <img src="{% static '../media/captuara-bluubum.jpeg' %}" alt="" class="img-project">
            </div>
            <div class="datos">
              <div class="content-title-proyect">
                <a href="https://bluubum-api.onrender.com/">affiliate website </a>
              </div>
              <div class="content-etiquet-lenguage">
                <div class="lenguage-uno">
                  <img src="{% static '../media/python-removebg-preview.png' %}" alt="" class="lenguage">
                  <div class="progres-bar python-bluubum">
                    <samp class="progres-bar-tex tex-python-bluubum">30%</samp>
                  </div>
                </div>
                <div class="lenguage-uno" style="width: 20px; border-radius: 50%;">
                  <img src="{% static '../media/django-removebg-preview.png' %}" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="{% static '../media/html5.png' %}" alt="" class="lenguage">
                  <div class="progres-bar html-bluubum">
                    <samp class="progres-bar-tex tex-html-bluubum">16%</samp>
                  </div>
                </div>
                <div class="lenguage-uno">
                  <img src="{% static '../media/css-3.png' %}" alt="" class="lenguage">
                  <div class="progres-bar css-bluubum">
                    <samp class="progres-bar-tex tex-css-bluubum">37%</samp>
                  </div>
                </div>
                <div class="lenguage-uno">
                  <img src="{% static '../media/secuencia-de-comandos-de-java.png' %}" alt="" class="lenguage">
                  <div class="progres-bar js-bluubum">
                    <samp class="progres-bar-tex tex-js-bluubum">37%</samp>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="content-proyect">
            <div class="content-img">
              <img src="{% static '../media/captuara-bluubum.jpeg' %}" alt="" class="img-project">
            </div>
            <div class="datos">
              <div class="content-title-proyect">
                <a href="">affiliate website </a>
              </div>
              <div class="content-etiquet-lenguage">
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
              </div>
            </div>
          </div>

          <div class="content-proyect">
            <div class="content-img">
              <img src="{% static '../media/captuara-bluubum.jpeg' %}" alt="" class="img-project">
            </div>
            <div class="datos">
              <div class="content-title-proyect">
                <a href="">affiliate website </a>
              </div>
              <div class="content-etiquet-lenguage">
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
             
              </div>
            </div>
          </div>

          <div class="content-proyect">
            <div class="content-img">
              <img src="{% static '../media/captuara-bluubum.jpeg' %}" alt="" class="img-project">
            </div>
            <div class="datos">
              <div class="content-title-proyect">
                <a href="">affiliate website </a>
              </div>
              <div class="content-etiquet-lenguage">
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
                <div class="lenguage-uno">
                  <img src="" alt="" class="lenguage">
                </div>
              
              </div>
            </div>
          </div>  
        </div>
      </div>

    </section>

    <section id="contacto">
      <!-- Contenido de la sección de contacto -->
      

    </section>
  </main>

  <footer>
    <!-- Contenido del pie de página -->
  </footer>

  <script src="{% static '../static/js/menu-desplegar.js' %}"></script>
</body>
</html>
